
@font-face {
    font-family: DMsans_Regular;
    src: url(/fonts/DMSans_Regular.ttf);
}
@font-face {
    font-family: DMsans_Bold;
    src: url(/fonts/DMSans_Bold.ttf);
}

:root{
    /* font-family */
    --app-font-regular: 'DMsans_Regular';
    --app-font-bold: 'DMsans_Bold'; 

    /* colors */
    --primary: #3BCEA3;
    --primary-light: #D6F5EC;
    --secondary: #3548ae;
    --dark: #151E1B;
    --light: #F4F6F5;

    /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 4.5rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 1.124rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
}


*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: var(--app-font-regular);
    width: 100%;
}
input{
    border: none;
}
input:focus-visible {
    outline: none;
    outline-style: none;
    
}
/* ----------------------Header------------------- */

.nav__bar,.nav__menu,.nav__list,.nav__login{
    display: flex;
    align-items: center;
}
.nav__bar{
    background-color: var(--light);
    height: 5rem;
    justify-content: center;
}
.app__logo{
    margin-right: 2rem;
}
.nav__list{
    list-style: none;
}
.nav__item>a{
    color: var(--dark);
    font-family: var(--app-font-bold);
    text-decoration: none;
    font-size: 14px;
}
.nav__item{
    margin-left: 10px;
    margin-right: 10px;
}
.nav__login{
    margin-left: 20px;
}
.nav__btns{
    color: var(--dark);
    font-family: var(--app-font-bold);
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 13px;
    cursor: pointer;
    
}
.login_show{
    background-color: var(--primary);
    color: var(--light);
}

/* .nav__item .item_un{
    position: relative;
    background-color: var(--primary);
    height: 2px;
}    */

/* ----------------------Find Doctor------------------- */

.find_doc_container{
    background-color: var(--light);
    display: flex;
    padding-left: 3rem ;
    padding-right: 3rem;
    padding-top: 1.5rem;
}
.doc_content{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 100px;
}
.doctor_img img{
    height: 80vh;
}
.doctor_text{
    font-family: var(--app-font-bold);
    font-size: 13px;
}
.doctor_title{
    font-size: var(--h1-font-size);
    font-family: var(--app-font-bold);
    color: var(--secondary);
}

.doctor_description{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.doctor_features{
    display: flex;
}
.doc_feature_container{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-right: 1.3rem;
}
.doc_feature_text{
    padding-left: 0.5rem;
}

.doc_search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    height: 3.5rem;
    margin-top: 2rem;
    justify-content: space-between;
}

/* ----------------------consulation------------------- */
.box_container{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    
    padding-left: 4rem;
    padding-right: 3rem;
    
}
.box_container img{
    height: 70vh;
    width: 40wh;
}
.in_container{
    margin-top: 3rem;
    margin-right: 4rem;
    margin-left: 4rem;  
}

.container_title{
    font-size: var(--h2-font-size);
    color: var(--secondary);
}
.container_content{
    margin-top: 2rem;
}
.container_button{
    background-color: var(--primary);
    border-radius: 30px;
    width: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 12px;

    margin-top: 2rem;
}
/* pharmacy */
.pharmacy .container_image {
    margin-right: 3rem;
}

.download{
    background-color: var(--light);
}
.download_title{
    margin-top: 3.5rem;
}
.getlink_heading{
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--secondary);
    font-family: var(--app-font-bold);
}

.download_stores{
    margin-top: 2rem;
}
.download_stores img{
    height: 50px;
}

/* top doctors */
.top_doctors{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_doctors h2,h3{
    text-align: center;
}
.container_sub_title{
    margin-top: 1rem;
    font-size: 15px;
}
.doctors_list{
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    
}
.doc_item_img{
    width: 90%;
}
.doc_item h4,p{
    margin-top: 5px;
    color: var(--dark);
}
.doc_item p{
    font-size: 14px;
}


