@font-face {
    font-family: DMsans_Regular;
    src: url(/fonts/DMSans_Regular.ttf);
}

@font-face {
    font-family: DMsans_Bold;
    src: url(/fonts/DMSans_Bold.ttf);
}

:root {
    /* font-family */
    --app-font-regular: 'DMsans_Regular';
    --app-font-bold: 'DMsans_Bold';

    /* colors */
    --primary: #3BCEA3;
    --primary-light: #D6F5EC;
    --secondary: #3548ae;
    --dark: #151E1B;
    --light: #F4F6F5;
    --text-light: #4d5451;
    --text-white-light: rgb(193, 193, 193);
    --placeholder-text-color: rgb(179, 178, 178);

    /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 4.5rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 1rem; 
    
    /* 14px */
    --normal-font-size: .8rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--app-font-regular);
    width: 100%;
}

input {
    border: none;
}

input::placeholder {
    font-family: var(--app-font-bold);
    color: var(--placeholder-text-color);
}

input:focus-visible {
    font-family: var(--app-font-bold);

    outline: none;
    outline-style: none;

}

a {
    text-decoration: none;

}

section {
    z-index: 10;
}

.baner_img img,
.article_item_img,
.doc_item_img {
    width: 90%;
    height: auto;
}

/* ----------------------Header------------------- */

.nav__bar,
.nav__menu,
.nav__list,
.nav__login {
    display: flex;
    align-items: center;
}

.header {
    position: fixed;
    width: 100%;
}

.nav__bar {
    background-color: var(--light);
    height: 5rem;
    justify-content: center;
    z-index: 100;
}

.app__logo {
    margin-right: 1.5rem;
}

.nav__list {
    list-style: none;
}

.nav__item>a {
    color: var(--dark);
    font-family: var(--app-font-bold);
    text-decoration: none;
    font-size: var(--normal-font-size);
}

.nav__item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav__login {
    margin-left: 20px;
}

.nav__btns {
    color: var(--dark);
    font-family: var(--app-font-bold);
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: var(--small-font-size);
    cursor: pointer;

}

.login_show {
    background-color: var(--primary);
    color: var(--light);
}

.showbar {
    border-bottom: 2px solid var(--primary);
}


/* ----------------------Find Doctor------------------- */
.find_doctor {
    padding-top: 5rem;
    background-color: var(--light);
    max-width: max-content;
    padding-right: 3rem;
}

.find_doc_container {
    display: flex;
    padding-left: 3rem;
    padding-top: 1.5rem;
}

.doc_content {
    margin-top: 50px;
    margin-left: 40px;
    max-width: 50%;
}

.doctor_img img {
    height: 80vh;
}

.doctor_text {
    font-family: var(--app-font-bold);
    font-size: 13px;
}

.doctor_title {
    font-size: var(--h1-font-size);
    font-family: var(--app-font-bold);
    color: var(--secondary);
}

.doctor_description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-light);
}

.doctor_features {
    display: flex;
}

.doc_feature_container {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-right: 1.3rem;
}

.doc_feature_text {
    padding-left: 0.5rem;
}

.doctor_search {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    padding: 15px;
}

.location_label {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 40px;
    color: var(--placeholder-text-color);
    border-right: 2px solid var(--placeholder-text-color);
    font-family: var(--app-font-bold);
}

.doc_search_btn {
    position: absolute;
    right: 15px;
}


/* ----------------------consulation------------------- */
.box_container {
    width: 100%;
    margin-top: 5rem;
    display: flex;

    padding-left: 4rem;
    padding-right: 3rem;

}

.box_container img {
    height: 70vh;
    width: 40wh;
}

.in_container {
    margin-top: 3rem;
    margin-right: 4rem;
    margin-left: 4rem;
    width: 50%;
}

.container_title {
    font-size: var(--h2-font-size);
    color: var(--secondary);
}

.container_content {
    margin-top: 2rem;
    color: var(--text-light);
}

.container_button {
    background-color: var(--primary);
    border-radius: 30px;
    width: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 12px;

    margin-top: 2rem;
}


/* top doctors */
.top_doctors,
.top_articles {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box_title {
    max-width: 700px;
}

.box_title,
.box_sub_title {
    text-align: center;
}

.box_sub_title {
    color: var(--text-light);
}

.box_sub_title {
    margin-top: 1rem;
    font-size: var(--small-font-size);
}

.doctors_list,
.article_items {
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    max-width: 90%;

}

.doc_item_img {
    width: 90%;
}

.item h4,
p {
    margin-top: 5px;
    color: var(--dark);
}

.item h4 {
    font-size: var(--h3-font-size);
}
.item{
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}
.doc_item p {
    font-size: var(--h3-font-size);
}

/* articles */
.article_item_img {
    width: 100%;
}

.article_item_title {
    /* margin-right: 15px; */
}

.article_item_img_desc {
    color: var(--secondary);
    font-family: var(--app-font-bold);
    font-size: var(--smaller-font-size);
}

/* download */
.download {
    background-color: var(--light);
}

.download_container {
    margin-right: 2rem;
    padding-bottom: 5rem;
}

.download_title {
    margin-top: 3.5rem;

}

.getlink_heading {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--secondary);
    font-family: var(--app-font-bold);
}

.download_stores {
    margin-top: 2rem;
}

.download_stores img {
    height: 50px;
}

.ph_num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;
    width: 100%;
}

.ph_num span {
    color: rgb(97, 97, 97);

}

.download_btn {
    margin: 0;
    margin: 5px;
}

/* footer */
.footer {
    background-color: var(--dark);
    color: var(--light);
    padding-top: 3rem;
}

.footer a {
    text-decoration: none;
    color: var(--light);
}

.app_address,
.app_contact_no {
    color: var(--light);
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-link {
    padding: 5px;
}

.app_contact {
    margin-right: 20px;

}

.footer_contents {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1fr 2fr 0.5fr;
}

.foot_item_title {
    font-family: var(--app-font-bold);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.foot_item_content {
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: 0.8rem;
    color: var(--text-white-light);
}

.subscribe_mail {
    width: 90%;
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.subscribe_mail img {
    padding: 5px;
}

.copyright {
    text-align: center;
    font-size: var(--smaller-font-size);
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__btn,
.menu__close {
    display: none;
}

@media only screen and (max-width: 900px) {

    .nav__bar {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__menu {
        position: fixed;
        width: 100%;
        top: 0;
        right: -100%;
        background-color: var(--first-text-color);
        transition: .5s;
    }

    .menu__show {
        right: 0;
    }

    .menu__close {
        position: absolute;
        top: 5px;
        right: 10px;

    }

    .nav__menu {
        height: 100vh;
        background-color: var(--primary);
        flex-direction: column;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        padding: 5px;
        /* transition: transform 0.5s; */
    }

    .nav__list {
        flex-direction: column;
        margin-top: 50px;
        font-size: 30px;
        justify-content: center;
    }

    .nav__list a {
        color: var(--light);
        font-size: 20px;
    }

    .nav__links {
        color: rgb(184, 180, 180);
    }

    .nav__login {
        margin-top: 10px;
        padding-left: 10px;
        justify-content: flex-end;
        align-items: center;
    }

    .nav__item:hover a {
        color: var(--dark);
    }

    .nav__item {
        padding: 5px;
    }

    .menu__close {
        display: block;
    }

    .nav__logo {
        font-weight: var(--font-bold);
        font-size: 25px;
        padding-left: 5px;
    }

    .nav__btns {
        color: var(--light);
        font-size: 20px;
    }

    .nav__btns:hover {
        color: var(--dark);
    }

}

@media only screen and (max-width: 700px) {
    :root{
        /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1rem; 
    /* 14px */
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    }
    .find_doctor {
        padding-top: 1rem;
        max-width: fit-content;
    }

    .location_label {
        display: none;
    }

    input {
        width: 100px;
    }

    .find_doc_container {
        flex-direction: column-reverse;
        margin-top: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
    }

    .doctor_title {
        font-size: 50px;

    }

    .doc_content {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 0px;
        max-width: 100%;
    }

    .doctor_img img {
        height: 50vh;
    }

    .doctor_features {
        display: block;
    }

    .box_container {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .doctors_list,
    .article_items {
        margin-left: 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        max-width: 90%;

    }

    .box_container img {
        height: 40vh;
        width: 40wh;
    }

    .in_container {
        margin-top: 2rem;
        margin-right: 0rem;
        margin-left: 0rem;
        width: 100%;
    }

    .container_title {
        font-size: 30px;
        color: var(--secondary);
    }

    .download_stores img {
        height: 50px;
    }

    .footer_contents {
        margin-bottom: 5rem;
        display: grid;
        padding-left: 20px;
        row-gap: 10px;
        grid-template-columns: auto;
    }

}

/* Dropdown Button */
.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    /* background-color: #2980B9; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}